<div class = "container-fluid">
    <h1>Vehicles</h1><br>
    <h3>Vehicles By Category</h3>
    <ul>
        <li>
            <a href = "/vehicles/cycle">Cycles</a>
        </li>
        <li>
            <a href = "/vehicles/bike">Bikes</a>
        </li>
    </ul>

</div>