<div class = "container-fluid">
    <h1>Educational Books</h1>
    <br>
    <% books.forEach( book => { %>
        <img src= <%= book.coverImagePath %> height="150" width="100"><br>
    <% }); %>
</div>