<div class = "container-fluid">
    <h1>Entertainment Books</h1>
    <br>
    <% books.forEach( book => { %>
        <div>
            <img src= <%= book.coverImagePath %> height="250" alt="Image">
        </div>
    <% }); %>
</div>