<div class = "container-fluid">
    <h1>Books</h1><br>
    <h3>Books By Category</h3>
    <ul>
        <li>
            <a href = "/books/educational">Educational</a>
        </li>
        <li>
            <a href = "/books/entertainment">Entertainment</a>
        </li>
    </ul>

</div>