<div class = "row mb-3">
    <div class = "col-sm-8">
        <label for = "name" class="form-label">Product Name</label>
        <input type = "text" class = "form-control" name="name" id = "name" placeholder="Enter Product Name" value="<%= electronic.productName %>" >
    </div>
    <div class = "col-sm-4">
        <label for = "type" class = "form-label">Type</label>
        <select class = "form-select" id = "type" name = "type">
            <% if( electronic.type === "camera") { %>
            <option value="cellPhone&Accessories">cellPhone&Accessories</option>
            <option selected value="camera">camera</option>
            <option value="computer">computer</option>
            <% } else if( electronic.type === "computer" ) { %>
            <option value="cellPhone&Accessories">cellPhone&Accessories</option>
            <option value="camera">camera</option>
            <option selected value="computer">computer</option>
            <% } else { %>
            <option selected value="cellPhone&Accessories">cellPhone&Accessories</option>
            <option value="camera">camera</option>
            <option value="computer">computer</option>
            <% } %>
        </select>
    </div>
</div>
<div class = "row mb-3">
    <div class = "col-sm-6">
        <label class="mb-2">Image</label>
        <input type = "file" name='image' class = "filepond">
    </div>
    <div class = "col-sm-6">
        <label for = "description" class="form-label">Description</label>
        <textarea class="form-control" rows="10" id = "description" name = "description"><%= electronic.description %></textarea>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-4">
        <label for = "price" class="form-label">Price</label>
        <input type = "number" min = "0" class = "form-control" name="price" id = "price" placeholder="Enter price in rupees" value= <%= electronic.price %> >
    </div>
    <div class="col-sm-3">
        <label for = "condition" class = "form-label">Condition</label>
        <select class = "form-select" id = "condition" name = "condition">
            <% if( electronic.condition === "used") { %>
            <option value="new">New</option>
            <option selected value="used">Used</option>
            <% } else { %>
            <option selected value="new">New</option>
            <option value="used">Used</option>
            <% } %>
        </select>
    </div>
</div>