<div class = "container-fluid">
    <h1>Sports</h1><br>
    <h3>Sports Product By Category</h3>
    <ul>
        <li>
            <a href = "/sports/outdoorSport">Outdoor Sports</a>
        </li>
        <li>
            <a href = "/vehicles/teamSport">Team Sports</a>
        </li>
        <li>
            <a href = "/vehicles/excercise">Excercise & Fitness</a>
        </li>
    </ul>

</div>