<div class="container-fluid">
  <h1>Sell</h1>
  <br />
  <h3>Select the category of the product</h3>
  <div class="list-group">
    <a class="list-group-item" href="/sell/books">Books</a>
    <a class="list-group-item" href="/sell/electronics">Electronics</a>
    <a class="list-group-item" href="/sell/vehicles">Vehicles</a>
    <a class="list-group-item" href="/sell/sports">Sports</a>
    <a class="list-group-item" href="/">Colectibles & Art</a>
    <a class="list-group-item" href="/">others</a>
  </div>
</div>
