<div class="container-fluid">
  <h1>Sell</h1>
  <br />
  <h3>Select the category of the product</h3>
  <div class="list-group">
    <a class="list-group-item" href="sell/books">Books</a>
    <a class="list-group-item" href="/">Electronics</a>
    <a class="list-group-item" href="/">Vehicles</a>
    <a class="list-group-item" href="/">Sporting Goods</a>
    <a class="list-group-item" href="/">Colectibles & Art</a>
    <a class="list-group-item" href="/">others</a>
  </div>
</div>
