<div class = "container-fluid">
    <h1>Electronics</h1><br>
    <h3>Electronic Products By Category</h3>
    <ul>
        <li>
            <a href = "/electronics/cellPhone&Accessories">cellPhones&Accessories</a>
        </li>
        <li>
            <a href = "/electronics/camera">cameras</a>
        </li>
        <li>
            <a href = "/electronics/computer">computers</a>
        </li>
    </ul>

</div>